contracts/facturatie_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InvoiceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REGULAR"/>
      <xs:enumeration value="CREDIT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="InvoiceFinalized">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="invoiceNumber" type="xs:string"/>
        <xs:element name="recipientEmail" type="EmailType"/>
        <xs:element name="pdfUrl" type="xs:anyURI"/>
        <xs:element name="totalAmount" type="xs:decimal"/>
        <xs:element name="type" type="InvoiceType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
