contracts/news_notify_session_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ParticipantIdsType">
    <xs:sequence>
      <xs:element name="participantId" type="UUIDType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="NotifySession">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId" type="UUIDType"/>
        <xs:element name="sessionName" type="xs:string"/>
        <xs:element name="participantIds" type="ParticipantIdsType"/>
        <xs:element name="subjectLine" type="xs:string"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
