contracts/notify_all_users_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
  <xs:element name="notifyAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subjectLine" type="xs:string"/>
        <xs:element name="updateType" type="xs:string"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>