contracts/user_data_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CRM Master Schema — Alle contracts (1–32)
  Integration Project 2025/2026 | Groep 2
  Versie 1.4 — April 2026

  Bron: crm-asyncapi-v1.yaml (AsyncAPI 3.1.0, v1.8.0)

  Gebruik: runtime-validatie via lxml in Python.

  Geen targetNamespace — XML-berichten op de queue bevatten
  geen namespace-declaraties (zie crm-asyncapi-v1.yaml voorbeelden).
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.4">

  <!-- ============================================================
       GEDEELDE SIMPLE TYPES
  ============================================================ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       CANONIEKE COMPLEX TYPES
       Master data owner: CRM.
       Niet direct als root element — elk contract heeft zijn eigen root.
  ============================================================ -->

  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id"          type="UUIDType"/>
      <xs:element name="firstName"   type="xs:string"/>
      <xs:element name="lastName"    type="xs:string"/>
      <xs:element name="email"       type="EmailType"/>
      <xs:element name="phone"       type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="street"      type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="houseNumber" type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="postalCode"  type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="city"        type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="country"     type="CountryCodeType"     minOccurs="0" nillable="true"/>
      <xs:element name="companyId"   type="UUIDType"            minOccurs="0" nillable="true"/>
      <xs:element name="role"        type="UserRoleType"/>
      <xs:element name="badgeCode"   type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="isActive"    type="xs:boolean"/>
      <xs:element name="gdprConsent" type="xs:boolean"/>
      <xs:element name="createdAt"   type="ISO8601DateTimeType"/>
      <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       CONTRACT 24 — Facturatie → CRM: user aanmaken
       Queue: facturatie.user.created | durable: true
  ============================================================ -->
  <xs:element name="UserCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="facturatieCustomerId" type="xs:string"/>
        <xs:element name="registrationId"       type="xs:string" minOccurs="0"/>
        <xs:element name="firstName"            type="xs:string"/>
        <xs:element name="lastName"             type="xs:string"/>
        <xs:element name="email"                type="EmailType"/>
        <xs:element name="phone"                type="xs:string" minOccurs="0" nillable="true"/>
        <xs:element name="role"                 type="FacturatieUserRoleType"/>
        <xs:element name="gdprConsent"          type="xs:boolean"/>
        <xs:element name="companyId"            type="UUIDType"  minOccurs="0" nillable="true"/>
        <xs:element name="createdAt"            type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 6 — CRM → Mailing: deelnemersnotificatie
       Queue: crm.mail.requested | durable: true
  ============================================================ -->
  <xs:element name="MailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="source">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="CRM"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="timestamp" type="ISO8601DateTimeType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mailType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="registration_confirmation"/>
              <xs:enumeration value="session_change"/>
              <xs:enumeration value="session_reminder"/>
              <xs:enumeration value="bulk_event"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="recipient">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="email" type="EmailType"/>
              <xs:element name="name"  type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dynamic_data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="guest_name"       type="xs:string"/>
              <xs:element name="session_name"     type="xs:string"           minOccurs="0"/>
              <xs:element name="session_time"     type="ISO8601DateTimeType" minOccurs="0"/>
              <xs:element name="session_location" type="xs:string"           minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 13 — CRM → consumers: user confirmed
       Queue: crm.user.confirmed | durable: true
  ============================================================ -->
  <xs:element name="UserConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"  minOccurs="0"/>
        <xs:element name="role"        type="UserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"   minOccurs="0"/>
        <xs:element name="badgeCode"   type="xs:string"  minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 18 — CRM → consumers: user updated
       CONTRACT 25 — Facturatie → CRM: user updated
       Queue: crm.user.updated / facturatie.user.updated | durable: true
       Noot: gedeelde root met order-onafhankelijke veldvalidatie.
  ============================================================ -->
  <xs:element name="UserUpdated">
    <xs:complexType>
      <xs:all>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="street"      type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="houseNumber" type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="postalCode"  type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="city"        type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0" nillable="true"/>
        <xs:element name="role"        type="FacturatieUserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"        minOccurs="0" nillable="true"/>
        <xs:element name="badgeCode"   type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 20 — Mailing → CRM: e-mailbounce gerapporteerd
       Queue: mailing.bounce.reported | durable: true
  ============================================================ -->
  <xs:element name="BounceReported">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="bounceType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="hard"/>
              <xs:enumeration value="soft"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reason"    type="xs:string"           minOccurs="0"/>
        <xs:element name="bouncedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 22 — CRM → consumers: user deactivated (GDPR)
       CONTRACT 26 — Facturatie → CRM: user deactivated
       Queue: crm.user.deactivated / facturatie.user.deactivated | durable: true
  ============================================================ -->
  <xs:element name="UserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>