contracts/user_data_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  CRM Master Schema — Alle contracts (1–32)
  Integration Project 2025/2026 | Groep 2
  Versie 1.4 — April 2026

  Bron: crm-asyncapi-v1.yaml (AsyncAPI 3.1.0, v1.8.0)

  Gebruik: runtime-validatie via lxml in Python.

  Geen targetNamespace — XML-berichten op de queue bevatten
  geen namespace-declaraties (zie crm-asyncapi-v1.yaml voorbeelden).
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified"
           version="1.4">

  <!-- ============================================================
       GEDEELDE SIMPLE TYPES
  ============================================================ -->

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BelgianVatNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BE[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Restrictieve rol-enum voor Contract 1 (alleen VISITOR/COMPANY_CONTACT) -->
  <xs:simpleType name="RegistrationRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FacturatieUserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>
      <xs:enumeration value="COMPANY_CONTACT"/>
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="EVENT_MANAGER"/>
      <xs:enumeration value="CASHIER"/>
      <xs:enumeration value="BAR_STAFF"/>
      <xs:enumeration value="ADMIN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PlanningUserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPEAKER"/>
      <xs:enumeration value="VISITOR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MailingUserPayloadType">
    <xs:sequence>
      <xs:element name="id"          type="UUIDType"/>
      <xs:element name="email"       type="EmailType"/>
      <xs:element name="firstName"   type="xs:string" minOccurs="0" nillable="true"/>
      <xs:element name="lastName"    type="xs:string" minOccurs="0" nillable="true"/>
      <xs:element name="gdprConsent" type="xs:boolean"/>
      <xs:element name="companyId"   type="UUIDType"  minOccurs="0" nillable="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlanningUserPayloadType">
    <xs:sequence>
      <xs:element name="id"          type="UUIDType"/>
      <xs:element name="email"       type="EmailType"/>
      <xs:element name="firstName"   type="xs:string"/>
      <xs:element name="lastName"    type="xs:string"/>
      <xs:element name="role"        type="PlanningUserRoleType"/>
      <xs:element name="gdprConsent" type="xs:boolean"/>
      <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="company"     type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       CANONIEKE COMPLEX TYPES
       Master data owner: CRM.
       Niet direct als root element — elk contract heeft zijn eigen root.
  ============================================================ -->

  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id"          type="UUIDType"/>
      <xs:element name="firstName"   type="xs:string"/>
      <xs:element name="lastName"    type="xs:string"/>
      <xs:element name="email"       type="EmailType"/>
      <xs:element name="phone"       type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="street"      type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="houseNumber" type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="postalCode"  type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="city"        type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="country"     type="CountryCodeType"     minOccurs="0" nillable="true"/>
      <xs:element name="companyId"   type="UUIDType"            minOccurs="0" nillable="true"/>
      <xs:element name="role"        type="UserRoleType"/>
      <xs:element name="badgeCode"   type="xs:string"           minOccurs="0" nillable="true"/>
      <xs:element name="isActive"    type="xs:boolean"/>
      <xs:element name="gdprConsent" type="xs:boolean"/>
      <xs:element name="createdAt"   type="ISO8601DateTimeType"/>
      <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompanyType">
    <xs:sequence>
      <xs:element name="id"               type="UUIDType"/>
      <xs:element name="name"             type="xs:string"/>
      <xs:element name="vatNumber"        type="BelgianVatNumberType"/>
      <xs:element name="street"           type="xs:string"/>
      <xs:element name="houseNumber"      type="xs:string"/>
      <xs:element name="postalCode"       type="xs:string"/>
      <xs:element name="city"             type="xs:string"/>
      <xs:element name="country"          type="CountryCodeType"/>
      <xs:element name="email"            type="EmailType"/>
      <xs:element name="phone"            type="xs:string"    minOccurs="0" nillable="true"/>
      <xs:element name="primaryContactId" type="UUIDType"     minOccurs="0" nillable="true"/>
      <xs:element name="isActive"         type="xs:boolean"/>
      <xs:element name="createdAt"        type="ISO8601DateTimeType"/>
      <xs:element name="updatedAt"        type="ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       CONTRACT 1 — Frontend → CRM: nieuwe inschrijving
       Queue: frontend.registration.created | durable: true
  ============================================================ -->
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="registrationId" type="xs:string"/>
        <xs:element name="firstName"      type="xs:string"/>
        <xs:element name="lastName"       type="xs:string"/>
        <xs:element name="email"          type="EmailType"/>
        <xs:element name="sessionId"      type="xs:string"/>
        <xs:element name="role"           type="RegistrationRoleType"/>
        <xs:element name="gdprConsent"    type="xs:boolean"/>
        <xs:element name="phone"          type="xs:string" minOccurs="0"/>
        <xs:element name="company"        type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 2 — Frontend → CRM: inschrijving wijzigen/annuleren
       Queue: frontend.registration.updated | durable: true
  ============================================================ -->
  <xs:element name="RegistrationChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="registrationId" type="xs:string" minOccurs="0"/>
        <xs:element name="email"          type="EmailType"/>
        <xs:element name="sessionId"      type="xs:string"/>
        <xs:element name="changeType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="updated"/>
              <xs:enumeration value="cancelled"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="updatedFields" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string"            minOccurs="0"/>
              <xs:element name="lastName"  type="xs:string"            minOccurs="0"/>
              <xs:element name="email"     type="EmailType"            minOccurs="0"/>
              <xs:element name="phone"     type="xs:string"            minOccurs="0"/>
              <xs:element name="role"      type="RegistrationRoleType" minOccurs="0"/>
              <xs:element name="company"   type="xs:string"            minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 24 — Facturatie → CRM: user aanmaken
       Queue: facturatie.user.created | durable: true
  ============================================================ -->
  <xs:element name="UserCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="facturatieCustomerId" type="xs:string"/>
        <xs:element name="registrationId"       type="xs:string" minOccurs="0"/>
        <xs:element name="firstName"            type="xs:string"/>
        <xs:element name="lastName"             type="xs:string"/>
        <xs:element name="email"                type="EmailType"/>
        <xs:element name="phone"                type="xs:string" minOccurs="0" nillable="true"/>
        <xs:element name="role"                 type="FacturatieUserRoleType"/>
        <xs:element name="gdprConsent"          type="xs:boolean"/>
        <xs:element name="companyId"            type="UUIDType"  minOccurs="0" nillable="true"/>
        <xs:element name="createdAt"            type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 27 — Mailing → CRM: user aanmaken
       Queue: mailing.user.created | durable: true
  ============================================================ -->
  <xs:element name="MailingUserCreated" type="MailingUserPayloadType"/>

  <!-- ============================================================
       CONTRACT 28 — Mailing → CRM: user bijwerken
       Queue: mailing.user.updated | durable: true
       Volledig object vereist volgens producer-XSD.
  ============================================================ -->
  <xs:element name="MailingUserUpdated" type="MailingUserPayloadType"/>

  <!-- ============================================================
       CONTRACT 29 — Mailing → CRM: user deactiveren
       Queue: mailing.user.deactivated | durable: true
  ============================================================ -->
  <xs:element name="MailingUserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 30 — Planning → CRM: user aanmaken
       Planning ref 21 | Queue: planning.user.created | durable: true
  ============================================================ -->
  <xs:element name="PlanningUserCreated" type="PlanningUserPayloadType"/>

  <!-- ============================================================
       CONTRACT 31 — Planning → CRM: user bijwerken
       Planning ref 22 | Queue: planning.user.updated | durable: true
  ============================================================ -->
  <xs:element name="PlanningUserUpdated" type="PlanningUserPayloadType"/>

  <!-- ============================================================
       CONTRACT 32 — Planning → CRM: user deactiveren
       Planning ref 23 | Queue: planning.user.deactivated | durable: true
  ============================================================ -->
  <xs:element name="PlanningUserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 3 — Frontend → CRM: nieuw bedrijf aanmaken
       Queue: frontend.company.created | durable: true
  ============================================================ -->
  <xs:element name="CompanyCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="email"       type="EmailType"      minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"      minOccurs="0"/>
        <xs:element name="street"      type="xs:string"      minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"      minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"      minOccurs="0"/>
        <xs:element name="city"        type="xs:string"      minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 5a — Facturatie → CRM: bedrijfsdata opvragen
       Queue: facturatie.company.requested | durable: true
  ============================================================ -->
  <xs:element name="CompanyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="vatNumber" type="BelgianVatNumberType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 5b — CRM → Facturatie: bedrijfsdata response
       Queue: crm.company.responded | durable: false
  ============================================================ -->
  <xs:element name="CompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId"   type="xs:string"/>
        <xs:element name="found"       type="xs:boolean"/>
        <xs:element name="id"          type="UUIDType"             minOccurs="0"/>
        <xs:element name="name"        type="xs:string"            minOccurs="0"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType" minOccurs="0"/>
        <xs:element name="email"       type="EmailType"            minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"            minOccurs="0"/>
        <xs:element name="street"      type="xs:string"            minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"            minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"            minOccurs="0"/>
        <xs:element name="city"        type="xs:string"            minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType"      minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 6 — CRM → Mailing: deelnemersnotificatie
       Queue: crm.mail.requested | durable: true
  ============================================================ -->
  <xs:element name="MailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="source">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="CRM"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="timestamp" type="ISO8601DateTimeType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mailType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="registration_confirmation"/>
              <xs:enumeration value="session_change"/>
              <xs:enumeration value="session_reminder"/>
              <xs:enumeration value="bulk_event"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="recipient">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="email" type="EmailType"/>
              <xs:element name="name"  type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dynamic_data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="guest_name"       type="xs:string"/>
              <xs:element name="session_name"     type="xs:string"           minOccurs="0"/>
              <xs:element name="session_time"     type="ISO8601DateTimeType" minOccurs="0"/>
              <xs:element name="session_location" type="xs:string"           minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 7 — CRM → Controlroom: heartbeat
       Exchange: heartbeat.direct | routing key: routing.heartbeat | durable: true
  ============================================================ -->
  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CRM"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="timestamp" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 8 — CRM → Controlroom: periodieke statuscheck
       Queue: crm.status.checked | durable: false
  ============================================================ -->
  <xs:element name="StatusCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CRM"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="timestamp" type="ISO8601DateTimeType"/>
        <xs:element name="status">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="healthy"/>
              <xs:enumeration value="degraded"/>
              <xs:enumeration value="unhealthy"/>
              <xs:enumeration value="unknown"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="uptime" type="xs:nonNegativeInteger"/>
        <xs:element name="systemLoad">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cpu">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0"/>
                    <xs:maxInclusive value="1.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="memory">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0"/>
                    <xs:maxInclusive value="1.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="disk">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="0.0"/>
                    <xs:maxInclusive value="1.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 9 — Controlroom → CRM: systeemwaarschuwing
       Queue: controlroom.warning.issued | durable: false
  ============================================================ -->
  <xs:element name="Warning">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serviceId" type="xs:string"/>
        <xs:element name="message"   type="xs:string"/>
        <xs:element name="type">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="heartbeat"/>
              <xs:enumeration value="statusCheck"/>
              <xs:enumeration value="user"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 10a — Kassa → CRM: persoonscheck request
       Queue: kassa.person.lookup.requested | durable: true
  ============================================================ -->
  <xs:element name="PersonLookupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="email"     type="EmailType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 10b — CRM → Kassa: persoonscheck response
       Queue: crm.person.lookup.responded | durable: false
  ============================================================ -->
  <xs:element name="PersonLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId"       type="xs:string"/>
        <xs:element name="found"           type="xs:boolean"/>
        <xs:element name="linkedToCompany" type="xs:boolean"/>
        <xs:element name="id"              type="UUIDType"  minOccurs="0"/>
        <xs:element name="companyName"     type="xs:string" minOccurs="0"/>
        <xs:element name="companyId"       type="UUIDType"  minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 11 — Planning → CRM: sessiewijziging
       Queue: planning.session.updated | durable: true
  ============================================================ -->
  <xs:element name="SessionUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId"   type="xs:string"/>
        <xs:element name="sessionName" type="xs:string"/>
        <xs:element name="newTime"     type="ISO8601DateTimeType" minOccurs="0"/>
        <xs:element name="newLocation" type="xs:string"           minOccurs="0"/>
        <xs:element name="changeType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="rescheduled"/>
              <xs:enumeration value="cancelled"/>
              <xs:enumeration value="updated"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 12 — IoT → CRM: badge koppelen aan bezoeker
       Queue: iot.badge.linked | durable: true
  ============================================================ -->
  <xs:element name="BadgeLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="badgeId"      type="xs:string"/>
        <xs:element name="contactEmail" type="EmailType"/>
        <xs:element name="linkedAt"     type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 13 — CRM → consumers: user confirmed
       Queue: crm.user.confirmed | durable: true
  ============================================================ -->
  <xs:element name="UserConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"  minOccurs="0"/>
        <xs:element name="role"        type="UserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"   minOccurs="0"/>
        <xs:element name="badgeCode"   type="xs:string"  minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<!-- ============================================================
     CONTRACT 14 — CRM → consumers: company confirmed
     Queue: crm.company.confirmed | durable: true
============================================================ -->
  <xs:element name="CompanyConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0"/>
        <xs:element name="street"      type="xs:string"/>
        <xs:element name="houseNumber" type="xs:string"/>
        <xs:element name="postalCode"  type="xs:string"/>
        <xs:element name="city"        type="xs:string"/>
        <xs:element name="country"     type="CountryCodeType"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="confirmedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 15 — CRM → Controlroom+Frontend: user conflict (fanout)
       Exchange: crm.user.conflict | type: fanout | durable: true
  ============================================================ -->
  <xs:element name="UserConflict">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="existingValue">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string"/>
              <xs:element name="lastName"  type="xs:string"/>
              <xs:element name="company"   type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="incomingValue">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="firstName" type="xs:string"/>
              <xs:element name="lastName"  type="xs:string"/>
              <xs:element name="company"   type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="detectedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 16 — Kassa → CRM: betaling bevestigd
       Queue: kassa.payment.confirmed | durable: true
  ============================================================ -->
  <xs:element name="PaymentConfirmed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId"         type="UUIDType"  minOccurs="0"/>
        <xs:element name="email"          type="EmailType"/>
        <xs:element name="registrationId" type="xs:string" minOccurs="0"/>
        <xs:element name="amount"         type="xs:decimal"/>
        <xs:element name="currency">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="EUR"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="paidAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 17a — Kassa → CRM: lijst niet-betaalden opvragen
       Queue: kassa.unpaid.requested | durable: true
  ============================================================ -->
  <xs:element name="UnpaidRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 17b — CRM → Kassa: lijst niet-betaalden response
       Queue: crm.unpaid.responded | durable: false
  ============================================================ -->
  <xs:element name="UnpaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="requestId" type="xs:string"/>
        <xs:element name="persons">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id"              type="UUIDType"/>
                    <xs:element name="firstName"       type="xs:string"/>
                    <xs:element name="lastName"        type="xs:string"/>
                    <xs:element name="email"           type="EmailType"/>
                    <xs:element name="linkedToCompany" type="xs:boolean"/>
                    <xs:element name="companyName"     type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 18 — CRM → consumers: user updated
       CONTRACT 25 — Facturatie → CRM: user updated
       Queue: crm.user.updated / facturatie.user.updated | durable: true
       Noot: gedeelde root met order-onafhankelijke veldvalidatie.
  ============================================================ -->
  <xs:element name="UserUpdated">
    <xs:complexType>
      <xs:all>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="street"      type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="houseNumber" type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="postalCode"  type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="city"        type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0" nillable="true"/>
        <xs:element name="role"        type="FacturatieUserRoleType"/>
        <xs:element name="companyId"   type="UUIDType"        minOccurs="0" nillable="true"/>
        <xs:element name="badgeCode"   type="xs:string"       minOccurs="0" nillable="true"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="gdprConsent" type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 19 — CRM → consumers: company updated
       Queue: crm.company.updated | durable: true
  ============================================================ -->
  <xs:element name="CompanyUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"          type="UUIDType"/>
        <xs:element name="vatNumber"   type="BelgianVatNumberType"/>
        <xs:element name="name"        type="xs:string"/>
        <xs:element name="email"       type="EmailType"       minOccurs="0"/>
        <xs:element name="phone"       type="xs:string"       minOccurs="0"/>
        <xs:element name="street"      type="xs:string"       minOccurs="0"/>
        <xs:element name="houseNumber" type="xs:string"       minOccurs="0"/>
        <xs:element name="postalCode"  type="xs:string"       minOccurs="0"/>
        <xs:element name="city"        type="xs:string"       minOccurs="0"/>
        <xs:element name="country"     type="CountryCodeType" minOccurs="0"/>
        <xs:element name="isActive"    type="xs:boolean"/>
        <xs:element name="updatedAt"   type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 20 — Mailing → CRM: e-mailbounce gerapporteerd
       Queue: mailing.bounce.reported | durable: true
  ============================================================ -->
  <xs:element name="BounceReported">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="email" type="EmailType"/>
        <xs:element name="bounceType">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="hard"/>
              <xs:enumeration value="soft"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="reason"    type="xs:string"           minOccurs="0"/>
        <xs:element name="bouncedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 21 — CRM → Facturatie: factuurverzoek privépersoon
       Queue: crm.invoice.requested | durable: true
  ============================================================ -->
  <xs:element name="InvoiceRequested">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="userId"      type="UUIDType"/>
        <xs:element name="email"       type="EmailType"/>
        <xs:element name="firstName"   type="xs:string"/>
        <xs:element name="lastName"    type="xs:string"/>
        <xs:element name="street"      type="xs:string"/>
        <xs:element name="houseNumber" type="xs:string"/>
        <xs:element name="postalCode"  type="xs:string"/>
        <xs:element name="city"        type="xs:string"/>
        <xs:element name="country"     type="CountryCodeType"/>
        <xs:element name="requestedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 22 — CRM → consumers: user deactivated (GDPR)
       CONTRACT 26 — Facturatie → CRM: user deactivated
       Queue: crm.user.deactivated / facturatie.user.deactivated | durable: true
  ============================================================ -->
  <xs:element name="UserDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="email"         type="EmailType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================
       CONTRACT 23 — CRM → consumers: company deactivated
       Queue: crm.company.deactivated | durable: true
  ============================================================ -->
  <xs:element name="CompanyDeactivated">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id"            type="UUIDType"/>
        <xs:element name="vatNumber"     type="BelgianVatNumberType"/>
        <xs:element name="deactivatedAt" type="ISO8601DateTimeType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>