contracts/user_data_contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Data Contract — User & Company
  Integration Project 2025 | Groep 2
  Versie 1.1 — Maart 2026

  XSD Schema: validatieschema voor berichten op de RabbitMQ queue.
  Alle berichten die CRM publiceert of ontvangt moeten tegen dit schema valideren.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://github.com/Integration-Project-2026-Groep-2/crm/schema/v1"
           xmlns:crm="https://github.com/Integration-Project-2026-Groep-2/crm/schema/v1"
           elementFormDefault="qualified"
           version="1.1">

  <!-- ============================================================
       SIMPLE TYPES
  ============================================================ -->

  <!-- UUID v4: 8-4-4-4-12 hexadecimale tekens -->
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ISO 8601 datetime met tijdzone: bijv. 2026-03-09T14:30:00Z -->
  <xs:simpleType name="ISO8601DateTimeType">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>

  <!-- ISO 3166-1 alpha-2 landcode: 2 hoofdletters -->
  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- E-mail conform RFC 5322 (vereenvoudigde regex) -->
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@\s]+@[^@\s]+\.[^@\s]+"/>
      <xs:maxLength value="254"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Belgisch BTW-nummer: BE gevolgd door 10 cijfers -->
  <xs:simpleType name="BelgianVatNumberType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BE[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- UserRole enum -->
  <xs:simpleType name="UserRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VISITOR"/>           <!-- Externe bezoeker -->
      <xs:enumeration value="COMPANY_CONTACT"/>   <!-- Inschrijver namens bedrijf. Vereist companyId. -->
      <xs:enumeration value="SPEAKER"/>           <!-- Externe spreker -->
      <xs:enumeration value="EVENT_MANAGER"/>     <!-- Interne organisator -->
      <xs:enumeration value="CASHIER"/>           <!-- Kassamedewerker -->
      <xs:enumeration value="BAR_STAFF"/>         <!-- Barmedewerker -->
      <xs:enumeration value="ADMIN"/>             <!-- Systeembeheerder -->
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================
       COMPLEX TYPES
  ============================================================ -->

  <!--
    UserType
    Master data owner: CRM.
    id en timestamps worden altijd door CRM gezet — nooit door andere systemen.
    Cross-field constraint: als role = COMPANY_CONTACT, moet companyId aanwezig zijn.
    Deze constraint wordt gevalideerd in de receiver-code, niet in dit XSD.
  -->
  <xs:complexType name="UserType">
    <xs:sequence>
      <!-- Gegenereerd door CRM. Nooit door een ander systeem. -->
      <xs:element name="id"          type="crm:UUIDType"/>

      <xs:element name="firstName"   type="xs:string"/>   <!-- Max. 80 tekens -->
      <xs:element name="lastName"    type="xs:string"/>   <!-- Max. 80 tekens -->
      <xs:element name="email"       type="crm:EmailType"/> <!-- Uniek. RFC 5322. -->

      <!-- Internationaal formaat (+32...). Optioneel. -->
      <xs:element name="phone"       type="xs:string"    minOccurs="0" nillable="true"/>

      <!--
        Adresvelden: optioneel voor normale gebruikers.
        Verplicht in te vullen door consumer vóór een facturatieaanvraag
        als privepersoon (geen companyId).
      -->
      <xs:element name="street"      type="xs:string"    minOccurs="0" nillable="true"/>
      <xs:element name="houseNumber" type="xs:string"    minOccurs="0" nillable="true"/> <!-- Inclusief bus -->
      <xs:element name="postalCode"  type="xs:string"    minOccurs="0" nillable="true"/>
      <xs:element name="city"        type="xs:string"    minOccurs="0" nillable="true"/>
      <xs:element name="country"     type="crm:CountryCodeType" minOccurs="0" nillable="true"/> <!-- Standaard: BE -->

      <!-- Null = privepersoon. Koppeling met Company.id. -->
      <xs:element name="companyId"   type="crm:UUIDType" minOccurs="0" nillable="true"/>

      <xs:element name="role"        type="crm:UserRoleType"/>

      <!-- Null tot badge uitgereikt aan inkom. Max. 32 tekens. -->
      <xs:element name="badgeCode"   type="xs:string"    minOccurs="0" nillable="true"/>

      <!-- Soft delete. Nooit fysiek verwijderen. -->
      <xs:element name="isActive"    type="xs:boolean"/>

      <!-- Moet true zijn bij inschrijving. -->
      <xs:element name="gdprConsent" type="xs:boolean"/>

      <!-- Gezet door CRM bij aanmaak. Nooit aanpassen. -->
      <xs:element name="createdAt"   type="crm:ISO8601DateTimeType"/>

      <!-- Gezet door CRM bij elke update. -->
      <xs:element name="updatedAt"   type="crm:ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <!--
    CompanyType
    Master data owner: CRM.
    Enkel Belgische bedrijven worden ondersteund (vatNumber = BE-formaat).
  -->
  <xs:complexType name="CompanyType">
    <xs:sequence>
      <!-- Gegenereerd door CRM. -->
      <xs:element name="id"               type="crm:UUIDType"/>

      <xs:element name="name"             type="xs:string"/>   <!-- Max. 255 tekens -->

      <!-- Uniek. Belgisch formaat: BE0123456789. Enkel Belgische bedrijven ondersteund. -->
      <xs:element name="vatNumber"        type="crm:BelgianVatNumberType"/>

      <xs:element name="street"           type="xs:string"/>
      <xs:element name="houseNumber"      type="xs:string"/>   <!-- Inclusief bus -->
      <xs:element name="postalCode"       type="xs:string"/>
      <xs:element name="city"             type="xs:string"/>
      <xs:element name="country"          type="crm:CountryCodeType"/> <!-- Standaard: BE -->

      <!-- Facturatie-e-mailadres. RFC 5322. -->
      <xs:element name="email"            type="crm:EmailType"/>

      <!-- Optioneel. -->
      <xs:element name="phone"            type="xs:string"    minOccurs="0" nillable="true"/>

      <!-- Hoofdcontactpersoon. Verwijzing naar User.id. Optioneel. -->
      <xs:element name="primaryContactId" type="crm:UUIDType" minOccurs="0" nillable="true"/>

      <!-- Soft delete. -->
      <xs:element name="isActive"         type="xs:boolean"/>

      <!-- Gezet door CRM bij aanmaak. Nooit aanpassen. -->
      <xs:element name="createdAt"        type="crm:ISO8601DateTimeType"/>

      <!-- Gezet door CRM bij elke update. -->
      <xs:element name="updatedAt"        type="crm:ISO8601DateTimeType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================
       ROOT ELEMENTS
       Gebruik deze als root van een RabbitMQ-bericht.
  ============================================================ -->

  <xs:element name="user"    type="crm:UserType"/>
  <xs:element name="company" type="crm:CompanyType"/>

</xs:schema>
